<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <display-name>BesantProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAdd</display-name>
    <servlet-name>ProductAdd</servlet-name>
    <servlet-class>ProductAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAdd</servlet-name>
    <url-pattern>/ProductAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersLogin</display-name>
    <servlet-name>UsersLogin</servlet-name>
    <servlet-class>UsersLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersLogin</servlet-name>
    <url-pattern>/UsersLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDelete</display-name>
    <servlet-name>ProductDelete</servlet-name>
    <servlet-class>ProductDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDelete</servlet-name>
    <url-pattern>/ProductDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpdate</display-name>
    <servlet-name>ProductUpdate</servlet-name>
    <servlet-class>ProductUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdate</servlet-name>
    <url-pattern>/ProductUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
</web-app>